<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- If a field is empty, it will be omitted and not displayed. Setting this to true will return null when the data is empty. -->
        <setting name="callSettersOnNulls" value="true"/>
        <!-- This configuration enables or disables the cache for all mappers globally. The default value is true. -->
        <setting name="cacheEnabled" value="false"/>
        <!-- Enable or disable lazy loading globally. When disabled, all associated objects will be loaded immediately. The default value is true. -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- Allow or disallow multiple result sets to be returned from a single statement (requires a compatible driver). The default value is true. -->
        <setting name="multipleResultSetsEnabled" value="true"/>
        <!-- Use column labels instead of column names. Different drivers behave differently in this regard. Refer to the driver documentation or thoroughly test both methods to determine which one to use. The default value is true. -->
        <setting name="useColumnLabel" value="true"/>
        <!-- Configure the default executor. SIMPLE executor has no special features. REUSE executor reuses prepared statements. BATCH executor reuses statements and performs batch updates. The default value is SIMPLE. -->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- Set the timeout, which determines how long the driver waits for a database response. The default value is null. -->
        <setting name="defaultStatementTimeout" value="180"/>
        <!-- Set the form of loading for associated objects. In this case, it is loading fields on demand (fields to load are specified by SQL), and it will not load all fields of the associated table to improve performance. -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- Allow the use of custom primary key values (e.g., UUID generated by the program as a 32-bit code) to override the PK generation strategy of the data table. -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- Provide support for field-property mapping for nested resultMap (NONE, PARTIAL, FULL). -->
        <setting name="autoMappingBehavior" value="FULL"/>
        <!-- Enable mapping between underscore and camel case naming conventions (e.g., first_name => firstName). -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="defaultFetchSize" value="200"/>
        <!-- SESSION, STATEMENT -->
        <setting name="localCacheScope" value="SESSION"/>
        <!-- NULL, VARCHAR, OTHER -->
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
        <setting name="logPrefix" value="[mybatis]"/>
        <!-- Print query statements STDOUT_LOGGING, no need to explicitly enable, it will automatically find the logging implementation. -->
        <!-- <setting name="logImpl" value="SLF4J"/>-->
    </settings>
    <typeHandlers>
    </typeHandlers>
</configuration>
